/* Resetten van standaardmarges en -paddings */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basisstijl voor de hele pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Lichtgrijze achtergrond */
    color: #333;
}

/* Header stijl */
header {
    background-color: #004a8f; /* Donkerblauwe header */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

header h2 {
    font-size: 18px;
}

/* Main stijl */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centreren van de inhoud */
}

/* Navigatieknoppen */
.buttons {
    list-style-type: none;
}

.buttons li {
    display: inline-block;
    margin-right: 10px;
}

.buttons li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #004a8f; /* Donkerblauwe knopkleur */
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.buttons li a:hover {
    background-color: #00264d; /* Donkerder blauw bij hover */
}

/* Stijl voor de sectie "Team-info" */
#team-info {
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center; /* Centreren van de tekst */
    padding-top: 60px;
}

#team-info .team-info-container, #team-info .clearing-info-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

#team-info h2 {
    margin-bottom: 10px;
    color: #004a8f; /* Donkerblauwe tekstkleur */
}

#team-info p {
    line-height: 1.6;
}

/* Footer stijl */
footer {
    background-color: #004a8f; /* Donkerblauwe footer */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}

/* Link stijl */
a {
    color: #004a8f; /* Donkerblauwe linkkleur */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* CSS for the foto class */
.foto {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly */
	padding-top: 25px;
}

.foto-groep {
    width: calc(25% - 10px); /* Adjusted width for each item with margin */
    margin-bottom: 20px; /* Spacing between rows */
	text-align: center;
	list-style: none;
	animation: fadeIn 0.5s ease forwards;
}

.foto-groep img {
    width: 100%; /* Make images fill their parent container */
	border-radius: 20px;
}
