body {
    color: #0c0c0c;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.35));
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #1c1c1c;
    text-align: center;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    padding: 8px 16px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #f1db25;
    color: #0c0c0c;
}

/* Container voor de transactiekaders */
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

/* Transactiekaders naast elkaar */
#content .transactie-box {
    flex: 1 1 calc(33.33% - 20px); /* Drie kaders per rij met margin */
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
}

footer {
    background-color: #101010;
    color: rgba(254, 254, 255, 0.7);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 35px;
    background-color: #f1db25;
    color: #ffffff;
    transition: all 0.3s;
    border: 1px solid transparent;
    text-transform: uppercase;
}

.button:hover {
    background-color: transparent;
    border-color: #f1db25;
    color: #f1db25;
}
